* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-image: url("abstract-violet-pixel-rain-background_23-2148362568.jpg");
}

h1 {
    text-align: center;
    margin: 20px 0 5px 0;
    color: tomato;
}

canvas {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-image: url("game-background-p4-4.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    display: block;
}

#win {
    display: none;
    position: absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 125px;
    left: 18%;
    width: 64%;
    font-size: 40px;
    color: red;
}

#gameover {
    display: none;
    position: absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 125px;
    left: 18%;
    width: 64%;
    font-size: 40px;
    color: red;
}

#msg {
    display: block;
    position: absolute;
    width: 89%;
    top: 19%;
    margin-left: 30px;
    justify-content: center;
    align-content: center;
    text-align: left;
    font-size: 19px;
    border: 1px;
    /* background-color: rgb(173, 173, 218); */
    color: rgb(301, 199, 132);
}

#msg h3 {
    text-align: center;
}

#container {
    max-width: 500px;
    height: 70vh;
    background-color: rgb(111, 12, 32);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left center top-right" "game game game" "btm btm btm";
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #222; */
}

#center {
    grid-area: center;
    justify-content: center;
    color: white;
}

#top-left {
    grid-area: top-left;
    /* justify-content: left; */
    margin-left: 30px;
    color: white;
}

#top-right {
    grid-area: top-right;
    justify-content: left;
    /* margin-right: 10px; */
    color: white;
}

main {
    grid-area: game;
}

#btm {
    /* margin-left: 60%; */
    grid-area: btm;
}

button {
    padding: 3px 30px 3px 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

#reset {
    display: inline;
}